.H4crew {
    margin: 20px 0 15px 0;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
}
.name {
    margin: 0 10px 0 10px;
    min-width: 100px;
}

.liste {
    text-align: center;
}